<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="col-md-2">
      <%= form.label :id %>
    </div>
    <div class="col-md-4">
      <%= form.number_field :id, id: :profile_id %>
    </div>
  </div>
  <br style="clear:both;">
  <br style="clear:both;">
  <div class="field">
    <div class="col-md-2">
      <%= form.label :Descripción_Perfil %>
    </div>
    <div class="col-md-4">
      <%= form.text_field :descripcion, id: :profile_descripcion %>
    </div>
  </div>
  <br style="clear:both;">
  <br style="clear:both;">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="actions">
      <%= form.submit class: "btn btn-success"%>
    </div>
  </div>
<% end %>
