<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--select tipo de visita-->
<div class="col-md-4">
    <h2><b>Visita Numero:  <label id="numero_de_visita"></label></b></h2>
    <br style="clear:both;">
    <div class="col-sm-8" >
        <span class="focus-input100"><b>Tipo De Visita  </b></span>
        <select id="selectTipoVisita" class="form-control">
            <option>Periodica</option>
            <option>Programada</option>
            <option>Repentina</option>
        </select>
    </div>
</div>
<!-- Script para habilitar los select de ubicacion-->
<script type="text/javascript">
    function habilitarpais(){ document.getElementById('selectPais').disabled=false;}
    function habilitarDpto(){ document.getElementById('selectDpto').disabled=false;}
    function habilitarCiudad(){ document.getElementById('selectCiudad').disabled=false;}
    function habilitarSucursal(){ document.getElementById('selectSucursal').disabled=false;}
    function alerta(){alert('hola mundo alerta de check');}

     $(document).on('click', '#novedad', function() 
	{
    	$('#AgregarNovedad').modal('show');
    });
    

</script>

<!-- parametros de ubicacion-->
<div class="col-md-8">
    <div class="panel panel-default box-body">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-map-marker"></i><label><b>Ubicacion </b></label></h3>   
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="selectTipoVisita" class="control-label">Empresa</label>
                    </div>
                    <div class="col-md-4">
                        <select id="selectTipoVisita" class="form-control" onchange="habilitarpais();">
                            <option value=0>Seleccione..</option>
                            <% @empresa.each do |listempresa| %>
                                <option  value="<%= listempresa.id_empresa%>"><%= listempresa.nombre_empresa%> </option>
                            <% end %>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="selectPais" class="control-label">Pais</label>
                    </div>
                    <div class="col-md-4">
                        <select id="selectPais" class="form-control" disabled onchange="habilitarDpto();">
                            <option>Seleccione..</option>
                            <% @Pai.each do |listpais| %>
                                <option  value="<%= listpais.id_pais%>"><%= listpais.nombre_pais%> </option>
                            <% end %>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="selectDpto" class="control-label">Departamento</label>
                    </div>
                    <div class="col-md-4">
                        <select id="selectDpto" class="form-control" disabled onchange="habilitarCiudad();">
                                <option>Seleccione..</option>
                            <% @Departamento.each do |listDpto| %>
                                <option  value="<%= listDpto.id_departamento%>"><%= listDpto.desc_departamento%> </option>
                            <% end %>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="selectCiudad" class="control-label">Ciudad</label>
                    </div>
                    <div class="col-md-4">
                        <select id="selectCiudad" class="form-control" disabled onchange="habilitarSucursal();">
                                <option>Seleccione..</option>
                            <% @Ciudad.each do |listCiudad| %>
                                <option  value="<%= listCiudad.id_ciudad%>"><%= listCiudad.desc_ciudad%> </option>
                            <% end %>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="selectSucursal" class="control-label">Sucursal</label>
                    </div>
                    <div class="col-md-4">
                        <select id="selectSucursal" class="form-control" disabled>
                            <option>Seleccione..</option>
                            <% @BranchOffice.each do |listSucursales| %>
                                <option  value="<%= listSucursales.id_sucursal%>"><%= listSucursales.desc_sucursal%> </option>
                            <% end %>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Barra de Progreso del formulario-->
<br style="clear:both;">
<div class="progress progress-striped">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        <span class="sr-only">40% completado (éxito)</span>
    </div>
</div>
<br style="clear:both;">

<!-- Apartado Legal-->
<div class="panel panel-default box-body col-md-10">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-gavel"></i>  <label><b>Estado Legal </b></label></h3>   
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>Concepto</td>
                <td>OK</td>
                <td>Novedad</td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado de Pago de Facturas en el Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiofac"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiofac" onclick="" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado de Pago de Impuestos del Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioimp"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioimp" onclick="" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado de Registros de Sanidad del Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiosanidad"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiosanidad" onclick="" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado de Resoluciones Dian del Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioresolu"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioresolu" onclick="" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado de Agotamiento de Consecutivos Del Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioconsec"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioconsec" onclick="" id="novedad"></td>
            </tr>
        </table>
         <hr/>
        <div id="desplegar" style='display:none'>
            hola mundo deplegando
        </div>
        <script>
            var contador=0;
            function vernovedades_estado_legal()
            {
                if(contador%2==0)
                {
                    document.getElementById('desplegar').style.display = 'block';
                        
                }else 
                {
                    document.getElementById('desplegar').style.display = 'none';
                }
                contador++;
            }
        </script>

        <button type="button" id="despliegalo" class="btn btn-primary col-md-12" onclick="vernovedades_estado_legal();">
            <span class="fa fa-chevron-down"></span> Novedades
        </button>

    </div>
</div>

<!--modal para insertar novedad-->
<div id="AgregarNovedad" class="modal fade" role="dialog" data-backdrop="static"> 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> 
                <h4 class="modal-tittle">NOVEDAD PARA LA VISITA #</h4>
                <h4 class="modal-tittle"># NOVEDAD (#)</h4>
            </div> 
            <form class="form-horizontal" role="form" id="form-agregar">
                <div class="modal-body"> 
                   
                    <div class="col-md-4">
                        <i class="fa fa-users"></i><label>  Area ó Interesados: </label>
                    </div>
                    <div class="col-md-5">
                        <select id="selectInteresados" class="form-control">
                            <option value=0>Seleccione..</option>
                            <% @Interesado.each do |lisinteresados| %>
                                <option  value="<%= lisinteresados.id_interesado%>"><%= lisinteresados.desc_interesado%> </option>
                            <% end %>
                        </select>
                    </div>
                    <br style="clear:both;">
                    <div class="col-md-4">
                        <i class="fa fa-file-o"></i><label>  Tipo de Novedad </label>
                    </div>
                    <div class="col-md-5">
                        <select id="selectTnovedad" class="form-control">
                            <option value=0>Seleccione..</option>
                            <% @TipoDeNovedad.each do |listTnovedad| %>
                                <option  value="<%= listTnovedad.id_tnovedad%>"><%= listTnovedad.desc_tnovedad%> </option>
                            <% end %>
                        </select>
                    </div>
                    <br style="clear:both;">
                    <div class="panel panel-default">
                        <div class="panel-heading col-md-12">
                            <div class="col-md-3">
                                <h3 class="panel-title"><i class="fa fa-comments"></i>  <label><b>Titulo </b></label></h3>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" type="text" name="titulo" id="titulonovedad" > 
                            </div>
                        </div>
                        <div class="panel-body">
                            Panel content
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>


                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span><span class="hidden-xs"> Cerrar</span>
                    </button>
                    <button type="button" id="GuardarNombre" name="GuardarNombre" class="btn btn-primary">
                        <span class="fa fa-save"></span><span class="hidden-xs"> Guardar</span>
                              
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
 
    