<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/cargar.js"></script>

<!--select tipo de visita-->
<div class="col-md-4">
    <h2><b>Visita Numero:  <label id="numero_de_visita" ><%= @numvisita+1%></label></b></h2>
    <br style="clear:both;">
    <div class="col-sm-8" >
        <span class="focus-input100"><b>Tipo De Visita  </b></span>
        
        <label class="form-control"  id="tipovisita"><%= @tipovisita %></label>
    </div>
</div>
<!-- Script para habilitar los select de ubicacion-->
<script type="text/javascript">
    function habilitarpais(){ document.getElementById('selectPais').disabled=false;}
    function habilitarDpto(){ document.getElementById('selectDpto').disabled=false;}
    function habilitarCiudad(){ document.getElementById('selectCiudad').disabled=false;}
    function habilitarSucursal(){ document.getElementById('selectSucursal').disabled=false;}
    function alerta(){alert('hola mundo alerta de check');}

     $(document).on('click', '#novedad', function() 
	{
    	$('#AgregarNovedad').modal('show');
    });
    

</script>

<!-- parametros de ubicacion-->
<div class="col-md-8">
    <div class="panel panel-default box-body">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-map-marker"></i><label><b>Ubicacion </b></label></h3>   
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="selectEmpresa" class="control-label">Empresa</label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-control"  id="sucursal"><%= @empresa %></label>
                    </div>
                    <div class="col-md-2">
                        <label for="selectPais" class="control-label">Pais</label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-control"  id="sucursal"><%= @pais %></label>
                    </div>
                    <div class="col-md-2">
                        <label for="selectDpto" class="control-label">Departamento</label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-control"  id="sucursal"><%= @departamento %></label>
                    </div>
                    <div class="col-md-2">
                        <label for="selectCiudad" class="control-label">Ciudad</label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-control"  id="sucursal"><%= @ciudad %></label>
                    </div>
                    <div class="col-md-2">
                        <label for="selectSucursal" class="control-label">Sucursal</label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-control"  id="sucursal"><%= @sucursal %></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Barra de Progreso del formulario-->
<br style="clear:both;">
<div class="progress progress-striped">
    <div id="barraformcreatenovedad" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width: 0.5%">
        <span class="sr-only">40% completado (éxito)</span>
    </div>
</div>
<br style="clear:both;">

<!-- Apartado Legal-->
<div class="panel panel-default box-body col-md-10">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-gavel"></i>  <label><b>Estado Legal </b></label></h3>   
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>Concepto</td>
                <td>OK</td>
                <td>Novedad</td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado de Pago de Facturas en el Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiofac" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiofac" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado de Pago de Impuestos del Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioimp" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioimp" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado de Registros de Sanidad del Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiosanidad" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiosanidad" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado de Resoluciones Dian del Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioresolu" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioresolu" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado de Agotamiento de Consecutivos Del Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioconsec" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioconsec" onclick="masbarra();" id="novedad"></td>
            </tr>
        </table>
         <hr/>
        <div id="desplegar" style='display:none'>
            hola mundo deplegando
        </div>
        <script>
            var contador=0;
            function vernovedades_estado_legal()
            {
                if(contador%2==0)
                {
                    document.getElementById('desplegar').style.display = 'block';
                        
                }else 
                {
                    document.getElementById('desplegar').style.display = 'none';
                }
                contador++;
            }
        </script>

        <button type="button" id="despliegalo" class="btn btn-primary col-md-12" onclick="vernovedades_estado_legal();">
            <span class="fa fa-chevron-down"></span> Novedades legales
        </button>

    </div>
</div>
<!-- Estado Locativo-->
<div class="panel panel-default box-body col-md-10">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-university"></i>  <label><b>Estado Locativo </b></label></h3>   
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>Concepto</td>
                <td>OK</td>
                <td>Novedad</td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado fisico del terreno en el Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiofterreno" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiofterreno" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado fisico de activos fijos no electricos del Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioafne" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioafne" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado fisico de activos fisicos electronicos del Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioafe" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioafe" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado de luminosidad del Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiolumi" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiolumi" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado fisico del producto exhibido en el Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiofproduc" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiofproduc" onclick="masbarra();" id="novedad"></td>
            </tr>
        </table>
         <hr/>
        <div id="locativas" style='display:none'>
            hola mundo deplegando novedades locativas
        </div>
        <script>
            var contador2=0;
            function vernovedades_estado_locativo()
            {
                if(contador2%2==0)
                {
                    document.getElementById('locativas').style.display = 'block';
                        
                }else 
                {
                    document.getElementById('locativas').style.display = 'none';
                }
                contador2++;
            }
        </script>

        <button type="button" id="despliegalo" class="btn btn-primary col-md-12" onclick="vernovedades_estado_locativo();">
            <span class="fa fa-chevron-down"></span> Novedades locativas
        </button>

    </div>
</div>
<!-- Estado laboral-->
<div class="panel panel-default box-body col-md-10">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-users"></i>  <label><b>Estado Laboral </b></label></h3>   
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>Concepto</td>
                <td>OK</td>
                <td>Novedad</td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado Presentacion Personal de Empleados el Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioeppe" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioeppe" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado Porte de Identificacion Personal del Empleado</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiopidpeEm" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiopidpeEm" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado Reporte de Horas de llegada Tarde</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiollegadastarde" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiollegadastarde" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado Cumplimiento de funciones del Cargo Asisgando al Empleado</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiocumfunciones" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiocumfunciones" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado Conformidad De Empleados</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioConformidadEmp" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioConformidadEmp" onclick="masbarra();" id="novedad"></td>
            </tr>
        </table>
         <hr/>
        <div id="laborales" style='display:none'>
            hola mundo deplegando novedades laborales
        </div>
        <script>
            var contador2=0;
            function vernovedades_estado_laboral()
            {
                if(contador2%2==0)
                {
                    document.getElementById('laborales').style.display = 'block';
                        
                }else 
                {
                    document.getElementById('laborales').style.display = 'none';
                }
                contador2++;
            }
        </script>

        <button type="button" id="despliegalo" class="btn btn-primary col-md-12" onclick="vernovedades_estado_laboral();">
            <span class="fa fa-chevron-down"></span> Novedades laborales
        </button>

    </div>
</div>
<!-- Estado laboral-->
<div class="panel panel-default box-body col-md-10">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-exclamation-triangle"></i>  <label><b>Riesgos Laborales </b></label></h3>   
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>Concepto</td>
                <td>OK</td>
                <td>Novedad</td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado salidas de emergencia en el Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiosalidas" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="raidosalidas" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado extintores de fuego en el Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioextintores" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioesxtintores" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado alarma contra incendios en el Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radioalarma" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radioalarma" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado personal capacitado contra riesgoz en el Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiopersonalcap" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiopersonalcap" onclick="masbarra();" id="novedad"></td>
            </tr>
            <tr>
                <td class="col-md-10"><b>Estado botiquin de primeros auxilios en el Establecimiento</b></td>
                <td class="col-md-1"><input type="radio" value="" name="radiobotiquin" onclick="masbarra();"></td>
                <td class="col-md-1"><input type="radio" value="" name="radiobotiquin" onclick="masbarra();" id="novedad"></td>
            </tr>
        </table>
         <hr/>
        <div id="riesgos" style='display:none'>
            hola mundo deplegando riesgos laborales
        </div>
        <script>
            var contador2=0;
            function vernovedades_estado_riesgos()
            {
                if(contador2%2==0)
                {
                    document.getElementById('riesgos').style.display = 'block';
                        
                }else 
                {
                    document.getElementById('riesgos').style.display = 'none';
                }
                contador2++;
            }
        </script>

        <button type="button" id="despliegalo" class="btn btn-primary col-md-12" onclick="vernovedades_estado_riesgos();">
            <span class="fa fa-chevron-down"></span> Riesgos Laborales
        </button>

    </div>
</div>


<script>
function init() {
  var inputFile = document.getElementById('inputFile1');
  inputFile.addEventListener('change', mostrarImagen, false);
}

function mostrarImagen(event) {
  var file = event.target.files[0];
  var reader = new FileReader();
  reader.onload = function(event) {
    var img = document.getElementById('img1');
    img.src= event.target.result;
  }
  reader.readAsDataURL(file);
}



    window.addEventListener('load', init, false);


</script>

<!--modal para insertar novedad-->
<div id="AgregarNovedad" class="modal fade" role="dialog" data-backdrop="static"> 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> 
                <h4 class="modal-tittle">NOVEDAD PARA LA VISITA #</h4>
                <h4 class="modal-tittle"># NOVEDAD (#)</h4>
            </div> 
            
                <div class="modal-body"> 
                   
                    <div class="col-md-4">
                        <i class="fa fa-users"></i><label>  Area ó Interesados: </label>
                    </div>
                    <div class="col-md-5">
                        <select id="selectInteresados" class="form-control">
                            <option value=0>Seleccione..</option>
                            <% @Interesado.each do |lisinteresados| %>
                                <option  value="<%= lisinteresados.id_interesado%>"><%= lisinteresados.desc_interesado%> </option>
                            <% end %>
                        </select>
                    </div>
                    <br style="clear:both;">
                    <div class="col-md-4">
                        <i class="fa fa-file-o"></i><label>  Tipo de Novedad </label>
                    </div>
                    <div class="col-md-5">
                        <select id="selectTnovedad" class="form-control">
                            <option value=0>Seleccione..</option>
                            <% @TipoDeNovedad.each do |listTnovedad| %>
                                <option  value="<%= listTnovedad.id_tnovedad%>"><%= listTnovedad.desc_tnovedad%> </option>
                            <% end %>
                        </select>
                    </div>
                    <br style="clear:both;">
                    <div class="panel panel-default">
                        <div class="panel-heading col-md-12">
                            <div class="col-md-3">
                                <h3 class="panel-title"><i class="fa fa-comments"></i>  <label><b>Titulo </b></label></h3>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" type="text"  id="titulonovedad" > 
                            </div>
                        </div>
                        <div class="panel-body">
                            Panel content
                            <textarea id="detallenovedad" class="form-control" rows="3"></textarea>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading col-md-12">
                            <div class="col-md-12">
                                <h3 class="panel-title"><i class="fa fa-comments"></i>  <label><b>Imagenes & Documentos </b></label></h3>
                            </div>
                            
                        </div>
                        <div class="panel-body">
                                
                            <form name="frmSubir" method="post" enctype="multipart/form-data" action="procesar-subida.php">
                            <p>Subir imagen</p>
                            <P><input type="file" name="imagenes"/></P>
                            <p><input type="submit" class="btn_enviar" value="Guardar Imagen"/></p>
                            </form>









                        </div>
                    </div>
                  
                    
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span><span class="hidden-xs"> Cerrar</span>
                    </button>
                    <button type="submit" id="GuardarNombre"  class="btn btn-primary">
                        <span class="fa fa-save"></span><span class="hidden-xs"> Guardar</span>
                              
                    </button>
                </div>
                
        </div>
    </div>
</div>



<!--script para aumentar la barra de progreso-->
<script>
    var estadobarra=0;
    function masbarra()
    {
        estadobarra=estadobarra+5;
        String(estadobarra);
        document.getElementById('barraformcreatenovedad').style.width=estadobarra+"%";
    }
</script>




