<p id="notice"><%= notice %></p>

<p>
  <strong>Id tnovedad:</strong>
  <%= @tipo_de_novedade.id_tnovedad %>
</p>

<p>
  <strong>Desc tnovedad:</strong>
  <%= @tipo_de_novedade.desc_tnovedad %>
</p>

<%= link_to 'Edit', edit_tipo_de_novedade_path(@tipo_de_novedade) %> |
<%= link_to 'Back', tipo_de_novedades_path %>
