<% if (@mensaje !=nil) %>
    <script >
        swal("mensaje","<%= @mensaje %>","<%= @tipo %>"); 
    </script>
<% end %>

  
<button type="prueba ajax" class="btn btn-default fa  fa-user" id="btn1"></button>	

<%= form_tag(:controller => "users", :action => "save_register", :method => "post",) do |f| %>
 
<div class="container">	
<button type="button" class="btn btn-default fa  fa-user" onclick="showModal('ventana');"></button>	
</br></br>
</div>
          <div class="box">


            <div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped filterTable">
                <thead>
                <tr>
                  <th style="text-align:center">Id</th>
                  <th style="text-align:center">Login</th>  
                  <th style="text-align:center">Password</th>                  
                </tr>
                </thead>
                <tbody>
            <% @listUsers.each do |user| %>
                <tr>
                  <td style="text-align:center"><%=user.id%></td>
                  <td style="text-align:center"><%=user.login%></td>
                  <td style="text-align:center"><%=user.password%></td>
                </tr>
            <%end%>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>

</div>


          <!--Ventana Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="ventana">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Registro Usuario</h4>
      </div>
      <div class="modal-body">            
                    
                    <div class="form-horizontal">                      
                        <div class="form-group">
                            <label class="col-md-2 col-sm-4">
                                Id
                              </label>
                            <div class="col-md-6">
                                <input type="text" id="txtId" class="form-control   validator number "  group-validator="grupo1" requiredFm="true" validatorMssg="Por favor digitar el id" />
                            </div>
                        </div>
						
                        <div class="form-group">
                            <label class="col-md-2 col-sm-4">
                                Login</label>
                            <div class="col-md-6">
                                <input type="text" id="txtLogin" class="form-control    validator" group-validator="grupo1" requiredFm="true"  validatorMssg="Por favor digitar login"/>
                            </div>
                        </div>
                        
						<div class="form-group">
                            <label class="col-md-2 col-sm-4">
                                Password</label>
                            <div class="col-md-6">
                                <input type="text" id="txtPass" class="form-control     validator " group-validator="grupo2" requiredFm="true" validatorMssg="Por favor digitar Password" />
                            </div>
                        </div>
                        

                    </div>
                
					
        
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Registrar" onclick="return Fmvalidators('grupo1');" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <% end %>