<% if (@mensaje !=nil) %>
    <script >
        swal("mensaje","<%= @mensaje %>","<%= @tipo %>"); 
    </script>
<% end %>

</br></br></br>
<div class="container-fluid">
        <div class="row">
<div class="container col-md-5 .col-aligncenter card shadow p-3 mb-5 bg-white rounded">
    
        <%= form_tag(:controller => "users", :action => "save_register", :method => "post") do |f| %>
            <table>
                <tr>
                    <td colspan="2">
                        <div class="login100-form-title">
                        <span class="login100-form-title">
			                Registro
                        </span>
                        <hr>
                        <span class="login100-form-avatar ">
                                <img src="/images/register.png" alt="AVATAR">
                            </span>
                            </div>
                            <hr>
                    </td>
                </tr>
                <tr>
                    <td>	
                        <div class="wrap-input100 m-b-35">
					        <input class="input100" type="text" name="txtlogin" id="txtlogin" placeholder="Login">
					        <span class="focus-input100"></span>
				        </div>
                    </td>
                    <td>
                        <div class="wrap-input100 m-b-35">
                            <label id="lblPerfil" class="focus-input100"  >Perfil:</label> 
                            </br>
                            <select id="ddlPerfiles" name="ddlPerfiles" class="form-control" >
                                <% @perfiles.each do |item| %>
                                    <option value="<%= item.id%>"><%= item.descripcion%> </option>
                                <% end %>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="wrap-input100 m-b-35">
                            <input class="input100" type="password" name="txtpassword" id="txtpassword" placeholder="Contraseña">
                            <span class="focus-input100"></span>
                        </div>
                    </td>
                    <td>
                        <div class="wrap-input100 m-b-35" >
                            <input class="input100" type="password" name="txtConfirmarPassword" id="txtConfirmarPassword" placeholder="Confirmar Contraseña">
                            <span class="focus-input100"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
			            <div class="container-login100-form-btn">
				            <button class="login100-form-btn" value="login" type="submit">
					            Registrar
				            </button>
			            </div>
                    </td>
                </tr>
            </table>
        <% end %>
    </div>
</div>
</div>
