<p id="notice"><%= notice %></p>
  <div class="form-horizontal">                      
  <div class="form-group">
     <label class="col-md-2 col-sm-4">
       <strong>Nombre:</strong>
     </label>
   <div class="col-md-6">
  <%= @pai.nombre %>
</div>
</div>

  <div class="form-horizontal">                      
  <div class="form-group">
     <label class="col-md-2 col-sm-4">
       <strong>Id:</strong>
     </label>
   <div class="col-md-6">
  <%= @pai.id %>
</div>
</div>

<%= link_to 'Edit', edit_pai_path(@pai) %> |
<%= link_to 'Back', pais_path %>
