<p id="notice"><%= notice %></p>

<p>
  <strong>Id departamento:</strong>
  <%= @deparment.id_departamento %>
</p>

<p>
  <strong>Id pais:</strong>
  <%= @deparment.id_pais %>
</p>

<p>
  <strong>Nombre departamento:</strong>
  <%= @deparment.nombre_departamento %>
</p>

<%= link_to 'Edit', edit_deparment_path(@deparment) %> |
<%= link_to 'Back', deparments_path %>
