<%= form_with(model: interesado, local: true) do |form| %>
  <% if interesado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interesado.errors.count, "error") %> prohibited this interesado from being saved:</h2>

      <ul>
      <% interesado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="col-md-2">
      <%= form.label :id_interesado %>
    </div>
    <div class="col-md-4">
      <%= form.number_field :id_interesado, id: :interesado_id_interesado %>
    </div>
  </div>
  <br style="clear:both;">
  <br style="clear:both;">
  <div class="field">
    <div class="col-md-2">
      <%= form.label :desc_interesado %>
    </div>
    <div class="col-md-4">
      <%= form.text_field :desc_interesado, id: :interesado_desc_interesado %>
    </div>
  </div>
<br style="clear:both;">
<br style="clear:both;">
<div class="col-md-2"></div>
<div class="col-md-4">
  <div class="actions">
    <%= form.submit class: "btn btn-success"%>
  </div>
</div>
<% end %>
