<p id="notice"><%= notice %></p>
<section class="content-header">
  <h1>Interesados</h1>      
</section>   
<div class="box">
  <div class="box-body">
    <table class="table table-bordered table-striped filterTable">
      <thead>
        <tr>
          <th>Id interesado</th>
          <th>Descripcion interesado</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @interesados.each do |interesado| %>
          <tr>
            <td><%= interesado.id_interesado %></td>
            <td><%= interesado.desc_interesado %></td>
            <td>
              <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-search fa-lg"></i></span>
                <%= link_to 'Show', interesado,  { class: "btn btn-primary btn-sm"} %>
              </div>
            </td>
            <td>
              <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-edit fa-lg"></i></span>
                <%= link_to 'Edit', edit_interesado_path(interesado), {class: "btn btn-success btn-sm"} %>
              </div>
            </td>
            <td>
              <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-trash-o fa-lg"></i></span>
                <%= link_to 'Destroy', interesado, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<label class="fa fa-plus fa-lg" ></label><%= link_to 'New Interesado', new_interesado_path, class: "btn btn-warning" %>
