<p id="notice"><%= notice %></p>

<p>
  <strong>Id interesado:</strong>
  <%= @interesado.id_interesado %>
</p>

<p>
  <strong>Desc interesado:</strong>
  <%= @interesado.desc_interesado %>
</p>

<%= link_to 'Edit', edit_interesado_path(@interesado) %> |
<%= link_to 'Back', interesados_path %>
