<p id="notice"><%= notice %></p>

<p>
  <strong>Id sucursal:</strong>
  <%= @branch_office.id_sucursal %>
</p>

<p>
  <strong>Id ciudad:</strong>
  <%= @branch_office.id_ciudad %>
</p>

<p>
  <strong>Nombre sucursal:</strong>
  <%= @branch_office.nombre_sucursal %>
</p>

<p>
  <strong>Direccion sucursal:</strong>
  <%= @branch_office.direccion_sucursal %>
</p>

<%= link_to 'Edit', edit_branch_office_path(@branch_office) %> |
<%= link_to 'Back', branch_offices_path %>
