<p id="notice"><%= notice %></p>

<p>
  <strong>Id pais:</strong>
  <%= @country.id_pais %>
</p>

<p>
  <strong>Nombre pais:</strong>
  <%= @country.nombre_pais %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
