<%= form_with(model: empresa, local: true) do |form| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>
      <ul>
        <% empresa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="col-md-2">
      <%= form.label :id_empresa %>
    </div>
    <div class="col-md-4">
      <%= form.number_field :id_empresa, id: :empresa_id_empresa, class: "form-control"   %>
    </div>
  </div>
  <br style="clear:both;">
  <br style="clear:both;">
  <div class="field">
    <div class="col-md-2">
      <%= form.label :descricion_empresa %>
    </div>
    <div class="col-md-4">
      <%= form.text_field :nombre_empresa, id: :empresa_nombre_empresa %>
    </div>
  </div>
  <br style="clear:both;">
  <br style="clear:both;">
  <div class="field">
    <div class="col-md-2">
      <%= form.label :direccion_empresa %>
    </div>
    <div class="col-md-4">
      <%= form.text_field :dir_empresa, id: :empresa_dir_empresa %>
    </div>
  </div>
  <br style="clear:both;">
  <br style="clear:both;">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="actions">
      <%= form.submit class: "btn btn-success"%>
    </div>
  </div>
<% end %>
