<%= form_with(model: empresa, local: true) do |form| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
 <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <strong>Crear Empresa</strong></h4>
        </div>
        <div class="panel-body">
  
  <div class="form-horizontal">                      
  <div class="form-group">
     <label class="col-md-2 col-sm-4">
       <strong>Id empresa:</strong>
     </label>
   <div class="col-md-6">
    <%= form.number_field :id_empresa, id: :empresa_id_empresa, class: "form-control"   %>
  </div>
  </div>

  <div class="form-horizontal">                      
  <div class="form-group">
     <label class="col-md-2 col-sm-4">
       <strong>Nombre:</strong>
     </label>
   <div class="col-md-6">
    <%= form.text_field :nombre_empresa, id: :empresa_nombre_empresa %>
  </div>
</div>
  <div class="form-horizontal">                      
  <div class="form-group">
     <label class="col-md-2 col-sm-4">
       <strong>Direccion:</strong>
     </label>
   <div class="col-md-6">  
    <%= form.text_field :dir_empresa, id: :empresa_dir_empresa %>
  </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
