<p id="notice"><%= notice %></p>
<section class="content-header">
  <h1><b>Empresas</b></h1>      
</section>   
<div class="box">
  <div class="box-body">
    <table class="table table-bordered table-striped filterTable" >
      <thead>
        <tr>
          <th>Id empresa</th>
          <th>Nombre empresa</th>
          <th>Dir empresa</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @empresas.each do |empresa| %>
          <tr>
            <td><%= empresa.id_empresa %></td>
            <td><%= empresa.nombre_empresa %></td>
            <td><%= empresa.dir_empresa %></td>
            <td>
              <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-search fa-lg"></i></span>
                <%= link_to 'Show', empresa,  { class: "btn btn-primary btn-sm", id: "myid"} %></td>
              </div>
            </td>
            <td>
              <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-edit fa-lg"></i></span>
                <%= link_to 'Edit', edit_empresa_path(empresa), {class: "btn btn-success btn-sm"} %></td>
              </div>
            </td>
            <td>
              <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-trash-o fa-lg"></i></span>
                <%= link_to 'Destroy', empresa, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm" %></td>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<br>
<label class="fa fa-plus fa-lg" ></label><%= link_to 'New Empresa', new_empresa_path, class: "btn btn-warning" %>