<p id="notice"><%= notice %></p>
<section class="content-header">
  <h1>Empresas</h1>      
</section>   
<div class="box">
  <div class="box-body">
    <table class="table table-bordered table-striped filterTable" >
      <thead>
        <tr>
          <th>Id empresa</th>
          <th>Nombre empresa</th>
          <th>Dir empresa</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @empresas.each do |empresa| %>
          <tr>
            <td><%= empresa.id_empresa %></td>
            <td><%= empresa.nombre_empresa %></td>
            <td><%= empresa.dir_empresa %></td>
            <td><%= link_to 'Show', empresa %></td>
            <td><%= link_to 'Edit', edit_empresa_path(empresa) %></td>
            <td><%= link_to 'Destroy', empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<%= link_to 'New Empresa', new_empresa_path %>