<p id="notice"><%= notice %></p>

<div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <strong>Ver Empresa</strong></h4>
        </div>
        <div class="panel-body">

  <div class="form-horizontal">                      
  <div class="form-group">
     <label class="col-md-2 col-sm-4">
       <strong>Id empresa:</strong>
     </label>
   <div class="col-md-6">
      <%= @empresa.id_empresa %>
    </div>
  </div>

<div class="form-horizontal">                      
  <div class="form-group">
     <label class="col-md-2 col-sm-4">
      <strong>Nombre:</strong>  
    </label>
   <div class="col-md-6">
    <%= @empresa.nombre_empresa %>
    </div>
    </div>


<div class="form-horizontal">                      
  <div class="form-group">
     <label class="col-md-2 col-sm-4">
      <strong>Direccion:</strong>  
    </label>
   <div class="col-md-6">
  <%= @empresa.dir_empresa %>
</div>
</div>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>

</div>
</div>