<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_ciudad %>
    <%= form.number_field :id_ciudad, id: :city_id_ciudad %>
  </div>

  <div class="field">
    <%= form.label :id_departamento %>
    <%= form.number_field :id_departamento, id: :city_id_departamento %>
  </div>

  <div class="field">
    <%= form.label :nombre_ciudad %>
    <%= form.text_field :nombre_ciudad, id: :city_nombre_ciudad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
