<p id="notice"><%= notice %></p>

<p>
  <strong>Id ciudad:</strong>
  <%= @city.id_ciudad %>
</p>

<p>
  <strong>Id departamento:</strong>
  <%= @city.id_departamento %>
</p>

<p>
  <strong>Nombre ciudad:</strong>
  <%= @city.nombre_ciudad %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
